@media screen and (max-width:590px){
    
    .deck {
        width: 391px;
        min-height: 377px;
    }
        
    .deck .card {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width:370px){
    header h1 {
        font-size: 20px;
    }
    .deck {
        width: 297px;
        min-height: 318px;
    }
    .score-panel {
        margin-left: 81px;
    }
    .score-panel .restart {
        margin-right: 87px;
        font-size: 23px;
    }
        
    .deck .card {
        height: 50px;
        width: 50px;
    }
}